@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	/* background-color: #323232 !important; */
	background: #2980b9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c3e50,
		#2980b9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c3e50,
		#2980b9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
	list-style: none;
}

.compTask {
	text-decoration: line-through;
}

.checked span {
	text-decoration: line-through;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
input[type="submit"],
button[type="submit"],
button {
	font-family: "Roboto";
	color: #fafafa;
}

.box {
	box-sizing: border-box;
	border: 2px solid #fafafa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myinput {
	outline: none !important;
	/* border: 0px none !important; */
	border-top-style: hidden !important;
	border-right-style: hidden !important;
	border-left-style: hidden !important;
    border-bottom-style: groove black !important;
    background-color: transparent;
	color: #fafafa !important;
}

.maininput {
    outline: none !important;
	/* border: 0px none !important; */
	border-top-style: hidden !important;
	border-right-style: hidden !important;
	border-left-style: hidden !important;
    border-bottom-style: groove black !important;
    background-color: transparent;
	color: #fafafa !important;
}
/* #edit {
    display:none;
} */

/* body {
	background: #0052d4;
	background: -webkit-linear-gradient(
		to right,
		#6fb1fc,
		#4364f7,
		#0052d4
	);
	background: linear-gradient(
		to right,
		#6fb1fc,
		#4364f7,
		#0052d4
	);
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
small {
	color: white;
} */
